.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--token-bp_CxDNOQi9);
    justify-content: center;
    align-content: center;
  }
}
.freeBox__gznm2 {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox__gznm2 > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__gznm2 > :global(.__wab_flex-container) > *,
.freeBox__gznm2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gznm2 > :global(.__wab_flex-container) > picture > img,
.freeBox__gznm2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gznm2 {
    padding: 16px 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gznm2 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 67px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    align-self: center;
  }
}
.freeBox__fbUi5 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__sTquv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__yk8Cd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__xgZuU:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__aQcNq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__qbH0L:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
